// {{< hint >}}
.admonitionblock {
  @each $name, $color in $hint-colors {
    &.#{$name} {
      border-left-color: $color;
      background-color: scale-color($color, $lightness: 95%, $saturation: -30%);
      color: $body-font-color;
    }
  }

  margin: $padding-16 0;
  padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp

  border-left: $border-4 solid var(--accent-color);
  border-radius: $border-radius;

  table {
    padding: 0 !important;
    margin: 0 !important;

    tr {
      border: 0 !important;
    }

    td {
      &:first-child {
        font-weight: bold;
      }
      display: table-row;
    }
  }
}
