@use "sass:color";
@use "defaults";

.admonitionblock {
  $root: &;

  margin: defaults.$padding-16 0;
  padding: 0;

  border: defaults.$border-1 solid var(--accent-color);
  border-left: defaults.$border-4 solid var(--accent-color);
  border-radius: defaults.$border-radius;

  @each $name, $color in defaults.$hint-colors {
    &.#{$name} {
      border-color: $color;
      color: defaults.$body-font-color;

      td.icon {
        background-color: color.adjust($color, $alpha: -0.9);
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
        position: relative;
        z-index: -10;
        outline: color.adjust($color, $alpha: -0.9);
      }
    }
  }

  .table-wrap {
    margin: 0;
  }

  table {
    margin: 0 !important;
    padding: 0 !important;

    tr {
      border: 0 !important;
    }

    td {
      display: block;
      padding: defaults.$padding-4 defaults.$padding-16 !important;

      &:first-child {
        background-color: color.scale(defaults.$gray-600, $alpha: -95%);
        font-weight: bold;

        &.icon {
          margin-left: -5px;

          @each $name, $icon in defaults.$hint-icons {
            i.fa.icon-#{$name} {
              width: defaults.$font-size-24;
              height: defaults.$font-size-24;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: defaults.$font-size-24;
                height: defaults.$font-size-24;
                mask-image: url(img/geekdoc-stack.svg##{$icon});
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: var(--body-font-color);
              }

              &::after {
                color: var(--body-font-color);
                content: attr(title);
                font-style: normal;
                padding-left: defaults.$padding-32;
              }
            }
          }
        }
      }
    }
  }
}
