@use "defaults";

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-25 {
  flex: 1 1 25%;
}

.flex-inline {
  display: inline-flex;
}

.flex-even {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grid {
  flex-direction: column;
  border: defaults.$border-1 solid var(--accent-color);
  border-radius: defaults.$border-radius;
  background: var(--accent-color-lite);
}

.gap-8 {
  flex-wrap: wrap;
  gap: defaults.$padding-8;
}

.gap-16 {
  flex-wrap: wrap;
  gap: defaults.$padding-16;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.table-wrap {
  overflow: auto;
  margin: defaults.$padding-16 0;

  > table {
    margin: 0 !important;
  }
}

.badge-placeholder {
  display: inline-block;
  min-width: 4rem;
}

.w-full {
  width: 100%;
}
