{
  "printWidth": 99,
  "singleQuote": false,
  "semi": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
