{{ if .Site.IsMultiLingual }}
  <section class="gdoc-language">
    <ul class="gdoc-nav__list gdoc-language__selector">
      <li>
        <input
          type="checkbox"
          id="menu-language-control"
          class="gdoc-nav__toggle gdoc-language__toggle"
        />
        <label class="flex align-center" for="menu-language-control">
          {{ range .Site.Languages }}
            {{ if eq . $.Site.Language.Lang }}
              <svg class="icon gdoc_language"><use xlink:href="#gdoc_language"></use></svg>
              <span class="flex flex-auto justify-between align-center">
                <span>{{ .LanguageName }}</span>
                {{ if $.Translations }}
                  <svg class="icon toggle gdoc_keyborad_arrow_left">
                    <use xlink:href="#gdoc_keyborad_arrow_left"></use>
                  </svg>
                  <svg class="icon toggle gdoc_keyborad_arrow_down">
                    <use xlink:href="#gdoc_keyborad_arrow_down"></use>
                  </svg>
                {{ end }}
              </span>
            {{ end }}
          {{ end }}
        </label>
        {{ if $.Translations }}
          <ul class="gdoc-language__list">
            {{ range $.Translations }}
              <li>
                <a
                  class="flex gdoc-language__entry"
                  title="{{ .Language.LanguageName }}"
                  href="{{ .Permalink }}"
                >
                  {{ .Language.LanguageName }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
    </ul>
  </section>
{{ end }}
