{{ $current := .current }}
{{ template "menu-file" dict "sect" .source "current" $current "site" $current.Site "target" .target }}

<!-- template -->
{{ define "menu-file" }}
{{ $current := .current }}
{{ $site := .site }}
{{ $target := .target }}

{{ range sort (default (seq 0) .sect) "weight" }}
    {{ if isset . "ref" }}
        {{ $this := $site.GetPage .ref }}
        {{ $isCurrent := eq $current $this }}
        {{ $icon := default false .icon }}

        {{ if eq $target "header" }}
        <a href="{{ if .external }}{{ .ref }}{{ else }}{{ relref $current .ref }}{{ end }}"
            class="gdoc-header__link {{ if $isCurrent }}is-active{{ end }}"
            {{ if .external }}rel="noopener"{{ end }} {{ if .newWindow }}target="_blank"{{ end }}>
            {{ if .icon }}
            <svg class="icon {{ .icon }}">
                <title>{{ .name }}</title>
                <use xlink:href="#{{ .icon }}"></use>
            </svg>
            {{ else }}{{ .name }}{{ end }}
        </a>
        {{ end }}
    {{ end }}
{{ end }}
{{ end }}
