<header class="gdoc-header">
    <div class="container flex align-center justify-between">
        <label for="menu-control" class="gdoc-nav__control">
            <svg class="icon menu"><use xlink:href="#menu"></use></svg>
            <svg class="icon arrow-back"><use xlink:href="#arrow_back"></use></svg>
        </label>
        <a class="gdoc-header__link" href="{{ .Site.BaseURL }}">
            <span class="gdoc-brand flex align-center">
                <img class="gdoc-brand__img" src="{{ (default "brand.svg" .Site.Params.GeekdocLogo) | relURL }}" alt="{{ .Site.Title }}" width=38 height=38>
                {{ .Site.Title }}
            </span>
        </a>
    </div>
</header>
