{{- $value := default 0 (.Get "value") -}}
{{- $label := default (printf "%v %%" $value) (.Get "label") -}}
{{- $type := default "main" (.Get "type") -}}
{{- $title := .Get "title" -}}
{{- $icon := .Get "icon" -}}


<div class="gdoc-progress">
  <div class="gdoc-progress__label flex justify-between">
    <div class="gdoc-progress__label--name flex align-center">
      {{ with $icon -}}
        <svg class="gdoc-icon {{ . }}"><use xlink:href="#{{ . }}"></use></svg>
      {{- end }}
      {{ with $title }}<span>{{ . }}</span>{{ end }}
    </div>
    <div>{{ $label }}</div>
  </div>
  <div class="gdoc-progress__wrap">
    <div
      class="gdoc-progress__bar {{ $type | lower }}"
      data-percent="{{ $value }}"
      style="width: {{ $value }}%; max-width: 100%; min-width: 0"
    ></div>
  </div>
</div>
