{{- $source := ($.Page.Resources.ByType "video").GetMatch (printf "%s" (.Get "name")) }}
{{- $customAlt := .Get "alt" }}
{{- $preload := default "auto" (.Get "preload") | lower }}
{{- $type := .Get "type" | lower }}
{{- $controls := default false (.Get "controls") }}
{{- $autoplay := default false (.Get "autoplay") }}
{{- $loop := default false (.Get "loop") }}

{{- with $source }}
  {{- $caption := default .Title $customAlt }}

  <div class="flex justify-center">
    <figure class="gdoc-markdown__figure">
      <video preload="{{ $preload | safeHTMLAttr }}"
        {{- if $controls }}{{ print " controls" | safeHTMLAttr }}{{ end }}
        {{- if $autoplay }}{{ print " autoplay" | safeHTMLAttr }}{{ end }}
        {{- if $loop }}{{ print " loop" | safeHTMLAttr }}{{ end -}}
      >
        <source src="{{ .Permalink }}" {{- with $type }}{{ printf " type=\"%s\"" . | safeHTMLAttr }}{{- end }}>
        {{ i18n "video_unsupported" }}
      </video>
      {{- with $caption }}
        <figcaption>
          {{ . }}
          {{- with $source.Params.credits }}
            {{ printf " (%s)" . | $.Page.RenderString }}
          {{- end }}
        </figcaption>
      {{- end }}
    </figure>
  </div>
{{- end }}
